

.about-wrapper{
    background-image:linear-gradient(rgba(20, 21, 51, 0.7), rgba(20, 21, 51, 0.7)),url(../assets/suprise3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding:200px 0 80px;
    color:#fff
}





.about-container{
    display: grid;
    grid-template-columns:1fr ;
    grid-gap:30px;
    font-family: satisfy;
   
}

.about-link{
    text-decoration: none;
    background: #333;
    color: #fff;
    padding: 10px;
    position: relative;
    top: 20px;
}







.testiImage{
    width:100px;
    height: 100px;
    border-radius: 50%;
}

.testimony-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:20px;
    text-align: center;
}

.title-testi{
    text-align: center;
    margin-bottom: 40px;
}


.testimony-section{
    background-image:linear-gradient(rgba(20, 21, 51, 0.7), rgba(20, 21, 51, 0.7)),url(../assets/banner9.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding:150px 0 150px;
    color: #fff;
}

.testimony-wrapper{
    width: 70%;
    margin: auto;
}

.ratingStyle, .fa-quote-left{
    color:orange
}



.testi{
    border: 1px solid silver;
    padding: 10px;
    border-radius:15px;
    transition: transform 0.5s;
}

.testi:hover{
    background-color: rgb(16, 26, 37);
    color: #fff;
    transform: translateY(-5px);
}


@media(max-width:1000px){
    .about-container{
        display: grid;
        grid-template-columns: 1fr;
    }

    .testimony-container{
        display: grid;
        grid-template-columns: 1fr;
    }
}