



.contact-content{
    background-image:linear-gradient(rgba(20, 21, 51, 0.7), rgba(20, 21, 51, 0.7)),url(../assets/banner4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:#fff;
    padding:150px 0 50px;
}


.contact-container{
    display: grid;
    grid-template-rows:1fr;
    grid-template-columns: repeat(2,1fr);
  
}

@media(max-width:1000px){
    .contact-container{
        display: grid;
        grid-template-rows:1fr;
        grid-template-columns:1fr;
      
    }
}


.contact-reference-a{
    background-image:linear-gradient(rgba(20, 21, 51, 0.7), rgba(20, 21, 51, 0.7));
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    color:#fff;
    display: grid;
    grid-template-columns:1fr;
    gap:40px;
    padding:30px 20%;
     
    }




    .contact-reference-b{
        background-color: #fff; 
    }
  


    .form-section{
        display:grid;
        grid-template-columns:1fr;
        place-content:center;
        gap:30px;
         padding:20px;
    
    }


  input, textarea{
    padding:20px;
    outline:none;
    border:1px solid silver;
}

#submit{
  cursor:pointer;
  background: #545353;
  color: #fff;
  font-weight: bolder;
  font-size:18px;
}






i{
    border: 1px solid #ffa500;
    padding:5px;
    border-radius:10px;
    cursor: pointer;
}

i:hover{
    background-color: #fff;
    border:1px solid #fff;
}