
.menu-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:30px;
    margin: auto;
    width: 80%;
}

.menu-container{
    margin-top: 80px;
    margin-bottom: 80px;
}

section{
    box-shadow: 1px 1px 1px 3px silver;
}

.sectionText{
    padding:10px
}



.menu-title, .menu-header-title{
   text-align: center;
   text-transform: uppercase;
   margin-top: 40px;
}


.categories-button{
    width:50%;
    margin:auto;
    text-align:center
}


.category-button{
    width:100px;
    padding:10px;
    background-color:#555;
    color:#fff;
    border: none;
    text-transform: uppercase;
    margin:5px;
    margin-top: 40px;
    font-weight: bolder;
    cursor: pointer;
}

.category-button:hover{
    background: lawngreen;
}

.menuBtn{
    border: none;
    background: #666;
    color:#fff;
    padding: 10px;
    text-transform: uppercase;
}

.imageSection, .imageDetail{
    width:100%
}

.detail-container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:50px;
    margin:0 auto;
    width:60%;
    background-image: radial-gradient(whitesmoke,silver);
    padding: 10px;
    position: fixed;
    top:250px;
    left:20%;
    z-index: 1;
    place-items: center;
}

.btnDetail{
    margin-top: 10px;
    background: #333;
    color: #fff;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration:none;
}

.buttonDetail{
    display: flex;
    justify-content: space-between;
}

.closeBtn{
    margin-top: 10px;
    background: #333;
    color: #fff;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}



@media(max-width:800px){
    .menu-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .detail-container{
        display: grid;
        grid-template-columns: 1fr;
        position:fixed;
        top:50px;
    }

    .menu-header-title{
        padding-left:25px;
        padding-right:25px ;
    }
}

@media(max-width:700px){
    .menu-wrapper{
        display: grid;
        grid-template-columns: 1fr;
    }
}