

.menu{
    padding:200px 0 0px;
}

.menu-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:30px;
    margin: auto;
    width: 80%;
}

.menu-container{
   padding:70px 0 70px;
   position: relative;
}


section{
    box-shadow: 1px 1px 1px 3px silver;
}

.sectionText{
    padding:10px
}



.menu-title, .menu-header-title{
   text-align: center;
   text-transform: uppercase;
   margin-top: 40px;
}


.categories-button{
    width:50%;
    margin:auto;
    text-align:center
}


.category-button{
    width:100px;
    padding:10px;
    background-color:#555;
    color:#fff;
    border: none;
    text-transform: uppercase;
    margin:5px;
    margin-top: 40px;
    font-weight: bolder;
    cursor: pointer;
}

.category-button:hover{
    background: lawngreen;
}

.menuBtn{
    border: none;
    background: #666;
    color:#fff;
    padding: 10px;
    text-transform: uppercase;
}

.imageSection{
    width:100%
}

.imageDetail{
    width:150px;
    height:150px;
    border-radius:50%;
    padding:15px;
}


.details {

    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .detail-wrapper {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Réduisez la largeur de la fenêtre modale pour une meilleure adaptation */
    max-width: 600px;
  }
  
  .imageDetail {
    max-width: 100%; /* Assurez-vous que l'image ne dépasse pas la largeur de la fenêtre modale */
  }
  
  .moreInfo {
    margin-left: 20px; /* Ajoutez une marge pour séparer l'image du contenu */
  }
  
  .buttonDetail {
    margin-top: 20px; /* Ajoutez une marge au-dessus des boutons */
    display: flex;
    justify-content: space-between; /* Alignez les boutons à l'extrémité */
  }

.btnDetail{
    margin-top:10px;
    background: #333;
    color: #fff;
    padding:10px;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration:none;
}

.buttonDetail{
    display: flex;
    gap:5px;
}

.closeBtn{
    margin-top: 10px;
    background: #333;
    color: #fff;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}



@media(max-width:1100px){
    .menu-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    .menu-header-title{
        padding-left:25px;
        padding-right:25px ;
    }
}

@media(max-width:700px){
    .menu-wrapper{
        display: grid;
        grid-template-columns: 1fr;
    }
}

